.button {
    font: inherit;
    border: 1px solid white;
    background: rgb(222, 9, 9);
    color: white;
    padding: 0.6rem;
    cursor: pointer;
    width: 100%;
    margin-top: 1rem; 
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }
  
  .button:hover,
  .button:active {
    background: rgb(245, 65, 100);
    border-color: white;
    color: whitesmoke;
  }
  
  .button:focus {
    outline: none;
  }